In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.join("data", "final_dataset.csv"))
df.head()

,Year,Player,Pos,Age,Team,Championship Wins,RunnerUp Count,TRB,AST,STL,BLK,TOV,PF,PER,FG%,3P%,FTA,FT%,PTS,Championship Appearance Y/N
0,1951,Paul Arizin,SF,22,Philadelphia Warriors,0.0,0.0,640.0,138,0.0,0.0,0.0,284,0.0,0.407,0.0,526,0.793,1121,0.0
1,1951,Curly Armstrong,G-F,32,Fort Wayne Pistons,0.0,0.0,89.0,77,0.0,0.0,0.0,97,0.0,0.310,0.0,90,0.644,202,0.0
2,1951,Ed Bartels,F,25,Washington Capitals,0.0,0.0,84.0,12,0.0,0.0,0.0,54,0.0,0.247,0.0,46,0.522,72,0.0
3,1951,Ed Beach,F,22,Minneapolis Lakers,0.0,0.0,25.0,2,0.0,0.0,0.0,14,0.0,0.229,0.0,9,0.667,22,0.0
4,1951,Nelson Bobb,PG,26,Philadelphia Warriors,0.0,0.0,101.0,82,0.0,0.0,0.0,83,0.0,0.329,0.0,79,0.557,148,0.0

In [3]:
target = df["Championship Appearance Y/N"]
target_names = ["negative", "positive"]

In [4]:
data = df.drop(["Championship Appearance Y/N", "Player", "Team", "Pos", "Year", "Championship Wins", "RunnerUp Count"], axis=1)
feature_names = data.columns
data.head()

   Age    TRB  AST  STL  BLK  TOV   PF  PER    FG%  3P%  FTA    FT%   PTS
0   22  640.0  138  0.0  0.0  0.0  284  0.0  0.407  0.0  526  0.793  1121
1   32   89.0   77  0.0  0.0  0.0   97  0.0  0.310  0.0   90  0.644   202
2   25   84.0   12  0.0  0.0  0.0   54  0.0  0.247  0.0   46  0.522    72
3   22   25.0    2  0.0  0.0  0.0   14  0.0  0.229  0.0    9  0.667    22
4   26  101.0   82  0.0  0.0  0.0   83  0.0  0.329  0.0   79  0.557   148

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [6]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=400)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9133235185866765

In [9]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.10172085994967488, 'PER'),
 (0.09572811267540993, 'TRB'),
 (0.09191826799530443, 'FG%'),
 (0.08989427529883, 'PTS'),
 (0.08797875600810605, 'PF'),
 (0.0863122889230534, 'AST'),
 (0.08619529352065666, 'FT%'),
 (0.08458412045854088, 'FTA'),
 (0.06571896649921327, 'Age'),
 (0.061442046255321736, 'STL'),
 (0.058775634946730305, 'TOV'),
 (0.051267974355644994, 'BLK'),
 (0.0384634031135135, '3P%')]