In [2]:
from sklearn import tree
import pandas as pd
import os

In [3]:
df = pd.read_csv(os.path.join("data", "final_dataset.csv"))
df.head()

,Year,Player,Pos,Age,Team,Championship Wins,RunnerUp Count,TRB,AST,STL,BLK,TOV,PF,PER,FG%,3P%,FTA,FT%,PTS,Championship Appearance Y/N
0,1951,Paul Arizin,SF,22,Philadelphia Warriors,0.0,0.0,640.0,138,0.0,0.0,0.0,284,0.0,0.407,0.0,526,0.793,1121,0.0
1,1951,Curly Armstrong,G-F,32,Fort Wayne Pistons,0.0,0.0,89.0,77,0.0,0.0,0.0,97,0.0,0.310,0.0,90,0.644,202,0.0
2,1951,Ed Bartels,F,25,Washington Capitals,0.0,0.0,84.0,12,0.0,0.0,0.0,54,0.0,0.247,0.0,46,0.522,72,0.0
3,1951,Ed Beach,F,22,Minneapolis Lakers,0.0,0.0,25.0,2,0.0,0.0,0.0,14,0.0,0.229,0.0,9,0.667,22,0.0
4,1951,Nelson Bobb,PG,26,Philadelphia Warriors,0.0,0.0,101.0,82,0.0,0.0,0.0,83,0.0,0.329,0.0,79,0.557,148,0.0

In [66]:
#data = df.drop(["Championship Appearance Y/N", "Player", "Team", "Pos", "Year", "Championship Wins", "RunnerUp Count"], axis=1)
data = df.drop(["Player", "Team", "Pos", "Year", "Championship Wins", "RunnerUp Count"], axis=1)
feature_names = data.columns
data

,Age,TRB,AST,STL,BLK,TOV,PF,PER,FG%,3P%,FTA,FT%,PTS,Championship Appearance Y/N
0,22,640.0,138,0.0,0.0,0.0,284,0.0,0.407,0.000,526,0.793,1121,0.0
1,32,89.0,77,0.0,0.0,0.0,97,0.0,0.310,0.000,90,0.644,202,0.0
2,25,84.0,12,0.0,0.0,0.0,54,0.0,0.247,0.000,46,0.522,72,0.0
3,22,25.0,2,0.0,0.0,0.0,14,0.0,0.229,0.000,9,0.667,22,0.0
4,26,101.0,82,0.0,0.0,0.0,83,0.0,0.329,0.000,79,0.557,148,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21729,24,405.0,99,62.0,58.0,65.0,189,16.7,0.571,0.000,196,0.679,639,0.0
21730,27,124.0,42,7.0,21.0,20.0,61,13.0,0.494,0.000,39,0.564,178,0.0
21731,20,35.0,4,2.0,5.0,3.0,17,7.3,0.323,0.000,5,0.600,23,0.0
21732,22,125.0,36,15.0,16.0,40.0,78,6.9,0.398,0.333,40,0.775,240,0.0
21733,19,159.0,30,14.0,33.0,30.0,66,17.0,0.529,0.000,49,0.653,284,0.0

In [7]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [8]:
y

array([0., 0., 0., ..., 0., 0., 0.])

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=400)
rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=400)

In [11]:
rf_pred = rf.predict(X_test)

In [12]:
rf_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [13]:
y_test

array([0., 1., 0., ..., 0., 0., 0.])

In [14]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, rf_pred)

0.9133235185866765

In [15]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.10120227479302704, 'PER'),
 (0.09531657715874928, 'TRB'),
 (0.09248581674760158, 'FG%'),
 (0.08980626937316347, 'PTS'),
 (0.08852286229292099, 'PF'),
 (0.08723259577561719, 'AST'),
 (0.08648870209723407, 'FTA'),
 (0.08538681253972064, 'FT%'),
 (0.06475617831500007, 'Age'),
 (0.06017813450985076, 'STL'),
 (0.05837392808507251, 'TOV'),
 (0.052255719566005304, 'BLK'),
 (0.037994128746037, '3P%')]

# Original Stats Only on all 21734 rows

In [67]:
data.head()
data_no_SB = data.drop(["STL", "BLK", "3P%", "TOV"], axis=1)
feature_names = data_no_SB.columns

,Age,TRB,AST,PF,PER,FG%,FTA,FT%,PTS,Championship Appearance Y/N
0,22,640.0,138,284,0.0,0.407,526,0.793,1121,0.0
1,32,89.0,77,97,0.0,0.310,90,0.644,202,0.0
2,25,84.0,12,54,0.0,0.247,46,0.522,72,0.0
3,22,25.0,2,14,0.0,0.229,9,0.667,22,0.0
4,26,101.0,82,83,0.0,0.329,79,0.557,148,0.0
...,...,...,...,...,...,...,...,...,...,...
21729,24,405.0,99,189,16.7,0.571,196,0.679,639,0.0
21730,27,124.0,42,61,13.0,0.494,39,0.564,178,0.0
21731,20,35.0,4,17,7.3,0.323,5,0.600,23,0.0
21732,22,125.0,36,78,6.9,0.398,40,0.775,240,0.0
21733,19,159.0,30,66,17.0,0.529,49,0.653,284,0.0

In [33]:
X = data_no_SB.iloc[:, :-1].values
y = data_no_SB.iloc[:, -1].values

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [35]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=400)
rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=400)

In [36]:
rf_pred = rf.predict(X_test)

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, rf_pred)

0.9131394920868605

In [38]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.12447694408777309, 'PER'),
 (0.12330818949768248, 'TRB'),
 (0.12161555054261682, 'FG%'),
 (0.1182007278336005, 'PTS'),
 (0.11286048524972452, 'PF'),
 (0.11219457831192858, 'AST'),
 (0.10870202923042312, 'FTA'),
 (0.10846706391478028, 'FT%'),
 (0.07017443133147075, 'Age')]

# Post 1980 - All complete stats from 1980-2017, 17291 rows

In [59]:
data_80_1 = df.drop(["Player", "Team", "Pos", "Championship Wins", "RunnerUp Count"], axis=1)
data_80_2 = data_80_1[data_80_1["Year"] >= 1980]
data_post80 = data_80_2.drop(["Year"], axis=1)
feature_names = data_post80.columns
data_post80

,Age,TRB,AST,STL,BLK,TOV,PF,PER,FG%,3P%,FTA,FT%,PTS,Championship Appearance Y/N
4443,32,886.0,371,81.0,280.0,297.0,216,25.3,0.604,0.000,476,0.765,2034,1.0
4444,25,191.0,87,35.0,12.0,39.0,118,11.0,0.481,0.000,82,0.683,362,0.0
4445,25,609.0,322,108.0,55.0,218.0,237,19.2,0.531,0.000,236,0.797,1118,0.0
4446,31,197.0,671,106.0,10.0,242.0,218,15.3,0.482,0.222,435,0.830,1131,0.0
4447,31,115.0,40,12.0,15.0,27.0,66,7.4,0.450,0.000,50,0.640,86,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21729,24,405.0,99,62.0,58.0,65.0,189,16.7,0.571,0.000,196,0.679,639,0.0
21730,27,124.0,42,7.0,21.0,20.0,61,13.0,0.494,0.000,39,0.564,178,0.0
21731,20,35.0,4,2.0,5.0,3.0,17,7.3,0.323,0.000,5,0.600,23,0.0
21732,22,125.0,36,15.0,16.0,40.0,78,6.9,0.398,0.333,40,0.775,240,0.0
21733,19,159.0,30,14.0,33.0,30.0,66,17.0,0.529,0.000,49,0.653,284,0.0

In [60]:
X = data_post80.iloc[:, :-1].values
y = data_post80.iloc[:, -1].values

In [61]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [62]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=400)
rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=400)

In [63]:
rf_pred = rf.predict(X_test)

In [64]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, rf_pred)

0.926208651399491

In [65]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.09756660550440789, 'PER'),
 (0.08758575338999411, 'FG%'),
 (0.08649885179648024, 'TRB'),
 (0.08542324685459958, 'PTS'),
 (0.07918258199062331, 'FT%'),
 (0.07879858111522516, 'FTA'),
 (0.07838356607816101, 'PF'),
 (0.07815874926230554, 'AST'),
 (0.07571337514520145, 'TOV'),
 (0.0718528418452546, 'STL'),
 (0.06331278602650264, 'Age'),
 (0.062821326260278, 'BLK'),
 (0.05470173473096639, '3P%')]