In [1]:
from sklearn import tree
import pandas as pd
import os

In [15]:
df = pd.read_csv(os.path.join("data", "final_dataset.csv"))
df.head()

,Year,Player,Pos,Age,Team,Championship Wins,RunnerUp Count,TRB,AST,STL,BLK,TOV,PF,PER,FG%,3P%,FTA,FT%,PTS,Championship Appearance Y/N
0,1951,Paul Arizin,SF,22,Philadelphia Warriors,0.0,0.0,640.0,138,0.0,0.0,0.0,284,0.0,0.407,0.0,526,0.793,1121,0.0
1,1951,Curly Armstrong,G-F,32,Fort Wayne Pistons,0.0,0.0,89.0,77,0.0,0.0,0.0,97,0.0,0.310,0.0,90,0.644,202,0.0
2,1951,Ed Bartels,F,25,Washington Capitals,0.0,0.0,84.0,12,0.0,0.0,0.0,54,0.0,0.247,0.0,46,0.522,72,0.0
3,1951,Ed Beach,F,22,Minneapolis Lakers,0.0,0.0,25.0,2,0.0,0.0,0.0,14,0.0,0.229,0.0,9,0.667,22,0.0
4,1951,Nelson Bobb,PG,26,Philadelphia Warriors,0.0,0.0,101.0,82,0.0,0.0,0.0,83,0.0,0.329,0.0,79,0.557,148,0.0

In [16]:
#data = df.drop(["Championship Appearance Y/N", "Player", "Team", "Pos", "Year", "Championship Wins", "RunnerUp Count"], axis=1)
data = df.drop(["Player", "Team", "Pos", "Year", "Championship Wins", "RunnerUp Count"], axis=1)
feature_names = data.columns
data.head()

,Age,TRB,AST,STL,BLK,TOV,PF,PER,FG%,3P%,FTA,FT%,PTS,Championship Appearance Y/N
0,22,640.0,138,0.0,0.0,0.0,284,0.0,0.407,0.0,526,0.793,1121,0.0
1,32,89.0,77,0.0,0.0,0.0,97,0.0,0.310,0.0,90,0.644,202,0.0
2,25,84.0,12,0.0,0.0,0.0,54,0.0,0.247,0.0,46,0.522,72,0.0
3,22,25.0,2,0.0,0.0,0.0,14,0.0,0.229,0.0,9,0.667,22,0.0
4,26,101.0,82,0.0,0.0,0.0,83,0.0,0.329,0.0,79,0.557,148,0.0

In [17]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [28]:
y

array([0., 0., 0., ..., 0., 0., 0.])

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [21]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=400)
rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=400)

In [22]:
rf_pred = rf.predict(X_test)

In [24]:
rf_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [25]:
y_test

array([0., 1., 0., ..., 0., 0., 0.])

In [31]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, rf_pred)

0.9129554655870445

In [32]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.10065027875612305, 'PER'),
 (0.09504497218799103, 'TRB'),
 (0.092033318301124, 'FG%'),
 (0.08937213272726531, 'PTS'),
 (0.08888633975136315, 'PF'),
 (0.08641150037235569, 'FTA'),
 (0.08636083164194584, 'AST'),
 (0.08585400769761545, 'FT%'),
 (0.06616645149208429, 'Age'),
 (0.06064349706049837, 'STL'),
 (0.05874856883655531, 'TOV'),
 (0.051191821231361914, 'BLK'),
 (0.03863627994371673, '3P%')]

# Logistic Regression

In [33]:
import logistic regression model from sklearn
lr = logisticregression()
lr.fit(X_train, y_train)
lr.predict(X_test, y_test)

SyntaxError: invalid syntax (<ipython-input-33-5bb9a00f8aa7>, line 1)